html, body{
  height: 100%;
}

body{
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  background-color: rgb(245, 245, 245);
}

.background-img{
  height: 800px;
  width: 100%;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  /* top: -200px; */
}

#intro-pic{
  background-image: url(imgs/cornell-flowers.jpg);
}

.section-wrapper{
  padding: 200px 0 200px 0;
}

.section{
  width: 800px;
  height: 400px;
  /* margin: 0 20% 0 20%; */
  margin: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  text-align: center;
  border: 6px solid rgb(235, 235, 235);
  position: relative;
}

.section-body{
  position: absolute;
  margin: 0;
  top: 50%;
  transform: translateY(-50%);
}

.btn{
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: solid 2px rgb(245, 245, 245);
  color: black;
  text-decoration: none;
  transition: all .25s;
}

.btn:hover{
  background-color: rgb(245, 245, 245);
}

.glyph-link{
  margin: 10px;
  color: black;
  transition: color .25s;
}

.glyph-link:hover{
  background-image: linear-gradient(to left, violet, blue, green, yellow, red);   -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* #about-me{
  border-color: green;
} */

#profile-pic{
  border-radius: 50%;
  /* width: 18vw; */
  /* height: 18vw; */
  width: 200px;
  height: 200px;
  /* float: right; */
  margin: 0 20px 0 20px;
  display: inline-block;
  /* transform: translateY(10%); */
  position: relative;
  top: -60px;
  margin-left: 100px;
}

#about-me-text{
  display: inline-block;
  width: 50%;
}

#about-me-name{
  /* font-size: 5vw; */
  font-size: 80px;
  margin: 0;
}

#about-me-title{
  /* font-size: 2.5vw; */
  font-size: 40px;
  margin-top: 0;
}

.arrow-wrapper{
  text-align: center;
}

.fa-arrow-down{
  color: white;
  -webkit-text-stroke: 2px rgb(235, 235, 235);
}


.fa-arrow-down:hover{
  -webkit-text-stroke: 0;
}

#horn-pic{
  background-image: url(imgs/profile_pic.jpeg);
}

#footer{
  background-color: rgb(46, 46, 46);
  color: white;
}

#footer-text{
  padding: 5px;
}

#footer-p{
  margin: 0;
}

.footer-link{
  color: white;
  margin-top: 0;
}